export CUSTOM_ENV_NAME=teleop
export VIRTUAL_ENV_DISABLE_PROMPT=1
source /opt/ros/humble/setup.bash
source "$PWD/.venv/bin/activate"
# Source colcon workspace if already built
[ -f "$PWD/install/setup.bash" ] && source "$PWD/install/setup.bash"
export DIRENV_LOG_FORMAT=""
