export VIRTUAL_ENV_DISABLE_PROMPT=1
source "$(dirname "$DIRENV_FILE")/teleop/bin/activate"
export DIRENV_VENV_NAME="teleop"

# ROS 2 + uarm workspace
source /opt/ros/humble/setup.bash
source "$(dirname "$DIRENV_FILE")/install/setup.bash"
